registry="https://registry.npm.bg.huohua.cn"
@huohua-game:registry=https://registry.npm.bg.huohua.cn
@huohua:registry=https://registry.npm.bg.huohua.cn
@peppa:registry=https://registry.npm.bg.huohua.cn
@sparkedu:registry=https://registry.npm.bg.huohua.cn
sharp_binary_host="https://npm.taobao.org/mirrors/sharp/"
sharp_libvips_binary_host="https://npm.taobao.org/mirrors/sharp-libvips"
strict-peer-dependencies=false